<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>Programas</title>

</head>
<body>

	<div layout:fragment="content" class="container mySpace">

		<div class="right_col" role="main">
			<div class="">
				<div class="page-title">
					<div class="title_left">
						<h3>Administre Programas</h3>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<!--inicio Formulario-->
						<div class="x_panel">
							<div class="x_title">
								<h2>
									Agregar / Editar Programas <small>Añada o consulte los
										programas</small>
								</h2>
								<ul class="nav navbar-right panel_toolbox">
									<li><a class="collapse-link"><i
											class="fa fa-chevron-up"></i></a></li>

									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="fa fa-plus"></i></a>
										<ul class="dropdown-menu" role="menu">
											<li><a th:href="@{/mensurandos}">
												<i class="fa fa-toggle-off"></i>
												Mensuarndos
											</a>
											</li>
											<li><a th:href="@{/reactivos}">
												<i class="fa fa-toggle-off"></i>
												Reactivos
											</a>
											</li>
										</ul>
										</li>		
								</ul>
								<div class="clearfix"></div>
							</div>
							<div class="x_content">
								<!-- <br/>-->
								<div class="col-md-10 col-md-offset-1">

									<form id="" class="form-horizontal form-label-left" action="#">

										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="nombre">Tipo<span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<select class="form-control">
													<option>Cuantitativo</option>
												</select>
											</div>
										</div>

										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="nombre">Nombre<span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input type="text" id="nombre" name="nombre"
													required="required" class="form-control col-md-7 col-xs-12" />
											</div>
										</div>

										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="nombre">Abreviatura<span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input type="text" id=abreviatura name="abreviatura"
													required="required" class="form-control col-md-7 col-xs-12" />
											</div>
										</div>

										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12"
												for="nombre">Orden<span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<input type="text" id=orden name="orden" required="required"
													class="form-control col-md-7 col-xs-12" />
											</div>
										</div>

										<div class="form-group">
											<label class="control-label col-md-3 col-sm-3 col-xs-12">Habilitado
											</label>
											<p>
												<input type="radio" class="flat" name="estado"
													id="estadoT" value="true" required />
											</p>
										</div>

										<div class="form-group">
											<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
												<button th:type="submit" th:id="cancelar"
													class="btn btn-primary" type="reset" th:name="cancelar"
													th:value="cancel" formnovalidate>Cancelar</button>
												<button th:type="submit" th:id="save"
													class="btn btn-success" th:name="action" th:value="Guardar">Guardar
												</button>
											</div>
										</div>


									</form>

								</div>

							</div>
						</div>
						<!--tabla para consultar existentes-->
						<div class="x_panel">
							<div class="x_title">
								<h2>
									Lista de programas<small>Tabla con programas
										Registrados</small>
								</h2>
								<ul class="nav navbar-right panel_toolbox">
									<li><a class="collapse-link"><i
											class="fa fa-chevron-up"></i></a></li>
								</ul>
								<div class="clearfix"></div>
							</div>
							<div class="x_content">
								<p class="text-muted font-13 m-b-30">Seleccione el programa
									que desea editar</p>
								<table id="datatable-responsive"
									class="table table-striped table-bordered dt-responsive nowrap"
									cellspacing="0" width="100%">
									<thead>
										<tr>
											<th>Numero ID</th>
											<th>Orden</th>
											<th>Abreviatura</th>
											<th>Nombre</th>
											<th>Tipo</th>
											<th>Estado</th>
											<th>Editar</th>
										</tr>
									</thead>
									<tbody>

										<tr>
											<td >1</td>
											<td >1</td>
											<td >QI</td>
											<td >QUIMICA</td>
											<td >Cuantitativo</td>
											<td >
												<span class="label label-success pull-right">Activo</span>											
											</td>
											<td><a
												
												class="btn btn-round btn-info btn-xs"><i
													class="fa fa-wrench"></i> Editar </a></td>
										</tr>


									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!--fin tabla para consultar existentes-->


				</div>
			</div>
		</div>
	</div>

</body>
</html>