<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <title>Error Page</title>
</head>
<body>

<div class="col-md-12">
    <div class="col-middle">
        <div class="text-center">
            <h1 class="error-number" th:text="${nroError}">NroError</h1>
            <h2 th:text="${errorMsg}">ErrorMsg</h2>

            <div class="mid_center">
                <h3>Volver al Inicio</h3>
                <form>
                        <div class="input-group">
                            <a th:href="@{/index}"><i class="fa fa-home"></i> Ir Home
                            </a>
                          </span>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div  layout:fragment="customjs">

    <link rel="stylesheet" th:href="@{/vendors/bootstrap/dist/css/bootstrap.min.css}"
          href="../../vendors/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/vendors/font-awesome/css/font-awesome.min.css}"
          href="../../vendors/font-awesome/css/font-awesome.min.css" />

    <link rel="stylesheet" th:href="@{/vendors/nprogress/nprogress.css}"
          href="../../vendors/nprogress/nprogress.css" />

    <link rel="stylesheet" th:href="@{/build/css/custom.min.css}"
          href="../../build/css/custom.min.css" />


    <!-- jQuery -->
    <script src="../../vendors/jquery/dist/jquery.min.js" ></script>
    <!-- Bootstrap -->
    <script src="../../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../../vendors/nprogress/nprogress.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="../../build/js/custom.min.js"></script>
</div>
</body>
</html>