<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Login</title>
    <link href="../../js/prototipoLogin/resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="../../js/prototipoLogin/resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="../../js/prototipoLogin/data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="../../js/prototipoLogin/files/login/styles.css" type="text/css" rel="stylesheet"/>
    <script src="../../js/prototipoLogin/resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="../../js/prototipoLogin/resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="../../js/prototipoLogin/resources/scripts/prototypePre.js"></script>
    <script src="../../js/prototipoLogin/data/document.js"></script>
    <script src="../../js/prototipoLogin/resources/scripts/prototypePost.js"></script>
    <script src="../../js/prototipoLogin/files/login/data.js"></script>
</head>
<body>
<div id="base" class="">

    <!-- Unnamed (Rectangle) -->
    <div id="u0" class="ax_default box_3">
        <img id="u0_img" class="img " src="../../js/prototipoLogin/images/login/u0.png"/>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u1" class="ax_default image">
        <img id="u1_img" class="img " src="../../js/prototipoLogin/images/login/u1.jpg"/>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u2" class="ax_default heading_3">
        <div id="u2_div" class=""></div>
        <div id="u2_text" class="text ">
            <p><span>Desarrollado y diseñado por avanzamas s.a.s Colombia - Todos los derechos Reservados 2018</span></p>
        </div>
    </div>

    <!-- Unnamed (Dynamic Panel) -->
    <div id="u3" class="ax_default">
        <div id="u3_state0" class="panel_state" data-label="State1" style="">
            <div id="u3_state0_content" class="panel_state_content">

                <!-- Unnamed (Rectangle) -->
                <div id="u4" class="ax_default box_3">
                    <div id="u4_div" class=""></div>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u5" class="ax_default text_field">
                    <input id="u5_input" type="text" value=""/>
                </div>

                <!-- Unnamed (Text Field) -->
                <div id="u6" class="ax_default text_field">
                    <input id="u6_input" type="password" value=""/>
                </div>

                <!-- Unnamed (Horizontal Line) -->
                <div id="u7" class="ax_default line">
                    <img id="u7_img" class="img " src="../../js/prototipoLogin/images/login/u7.png"/>
                </div>

                <!-- Unnamed (Horizontal Line) -->
                <div id="u8" class="ax_default line">
                    <img id="u8_img" class="img " src="../../js/prototipoLogin/images/login/u7.png"/>
                </div>

                <!-- Unnamed (Image) -->
                <div id="u9" class="ax_default image">
                    <img id="u9_img" class="img " src="../../js/prototipoLogin/images/login/u9.png"/>
                </div>

                <!-- Unnamed (Horizontal Line) -->
                <div id="u10" class="ax_default line">
                    <img id="u10_img" class="img " src="../../js/prototipoLogin/images/login/u7.png"/>
                </div>

                <!-- Unnamed (Checkbox) -->
                <div id="u11" class="ax_default checkbox">
                    <label for="u11_input" style="position: absolute; left: 0px;">
                        <div id="u11_text" class="text ">
                            <p><span>&nbsp;Recordarme</span></p>
                        </div>
                    </label>
                    <input id="u11_input" type="checkbox" value="checkbox"/>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u12" class="ax_default box_3">
                    <img id="u12_img" class="img " src="../../js/prototipoLogin/images/login/u12.png"/>
                    <div id="u12_text" class="text ">
                        <p><span>INGRESAR</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u13" class="ax_default heading_2">
                    <div id="u13_div" class=""></div>
                    <div id="u13_text" class="text ">
                        <p><span>Olvide mi contraseña</span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u14" class="ax_default heading_2">
                    <div id="u14_div" class=""></div>
                    <div id="u14_text" class="text ">
                        <p><span>Crear una cuenta </span></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u15" class="ax_default box_1">
                    <div id="u15_div" class=""></div>
                </div>

                <!-- Unnamed (Image) -->
                <div id="u16" class="ax_default image">
                    <img id="u16_img" class="img " src="../../js/prototipoLogin/images/login/u16.png"/>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>